*.user
*.userprefs
.idea/
.vs/
CommonUpdater/*.csproj.user
CommonUpdater/bin/*
CommonUpdater/obj/*
ClientUpdater/*.csproj.user
ClientUpdater/bin/*
ClientUpdater/obj/*
ServerUpdater/*.csproj.user
ServerUpdater/bin/*
ServerUpdater/obj/*
LunaManager/*.csproj.user
LunaManager/bin/*
LunaManager/obj/*
